#NVM
alias nvm="fnm"

#LS
alias ls="eza"
alias lsal="eza -al --icons --no-user --no-filesize -o --no-permissions --time-style=relative"

#NVIM
alias nv="nvim ."

#CAT
alias cat="bat --paging=never"

#GIT
alias gs="git status"
alias ga="git add"
alias gc="git commit"
alias gaa="git add ."
alias gp="git push"

#TMUX
alias tmxn='tmux new -s $(basename "$PWD")'
alias tmxk='tmux kill-server'
alias tmx='tmux attach'

#DOCKER
alias d="docker"
alias ds='docker stop $(docker ps -aq)'
alias dc="docker system prune -a && docker volume prune"

#AIR
alias air="~/go/bin/air"
